<header>
  <h1>Om os</h1>
</header>

<style>
  header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  h1 {
    cursor: pointer;
    margin-right: 30px;
    color: blue;
  }
</style>
